/*侧边导航*/
			#focus {
				width: 10%;
				float: left;
				min-height: 835px;
			}
			.focus .right {
				width: 85px;
				margin: 0 auto;
			}
			.right ul {
				background-color: #fff;
				margin-top: 50px;
			}
			.focus .right li {
				font-size: 12px;
				cursor: pointer;
				padding: 15px 1px;
				text-align: center;
			}
			.focus .right li:hover,
			.focus .right li.active {
				color: #fff;
				background-color: #3EAFE0;
			}
			.focus .right li i {
				background-image: url(../images/leader.png);
				background-repeat: no-repeat;
				display: inline-block;
				width: 29px;
				height: 27px;
				position: relative;
			}
			.focus .right li i.i1 {
				background-position: -15px -18px;
			}
			.focus .right li i.i2 {
				background-position: -15px -52px;
			}
			.focus .right li i.i3 {
				background-position: -15px -92px;
			}
			.focus .right li i.i4 {
				background-position: -14px -126px;
			}
			.focus .right li i.i5 {
				background-position: -15px -166px;
			}
			.focus .right li i.i6 {
				background-position: -15px -209px;
			}
			.focus .right li i.i7 {
				background-position: -15px -249px;
			}
			.focus .right li:hover i.i1,
			.focus .right li.active i.i1 {
				background-position: -52px -18px;
			}
			.focus .right li:hover i.i2,
			.focus .right li.active i.i2 {
				background-position: -52px -52px;
			}
			.focus .right li:hover i.i3,
			.focus .right li.active i.i3 {
				background-position: -52px -92px;
			}
			.focus .right li:hover i.i4,
			.focus .right li.active i.i4 {
				background-position: -50px -126px;
			}
			.focus .right li:hover i.i5,
			.focus .right li.active i.i5 {
				background-position: -50px -166px;
			}
			.focus .right li:hover i.i6,
			.focus .right li.active i.i6 {
				background-position: -50px -209px;
			}
			.focus .right li:hover i.i7,
			.focus .right li.active i.i7 {
				background-position: -50px -249px;
			}