<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzrenfeng.base.dao.DictionaryInfoMapper" >
  <resultMap id="BaseResultMap" type="com.zzrenfeng.base.entity.DictionaryInfo" >
    <id column="dictionaryId" property="dictionaryId" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="typeName" property="typeName" jdbcType="VARCHAR" />
    <result column="key" property="key" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="value" property="value" jdbcType="VARCHAR" />
    <result column="orderIndex" property="orderIndex" jdbcType="SMALLINT" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    `dictionaryId`, `type`, `typeName`, `key`, `name`, `value`, `orderIndex`, `memo`
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_dictionary_info
    where dictionaryId = #{dictionaryId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_dictionary_info
    where dictionaryId = #{dictionaryId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zzrenfeng.base.entity.DictionaryInfo" >
    insert into sys_dictionary_info (dictionaryId, type, typeName, 
      key, name, value, orderIndex, 
      memo)
    values (#{dictionaryId,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{typeName,jdbcType=VARCHAR}, 
      #{key,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{value,jdbcType=VARCHAR}, #{orderIndex,jdbcType=SMALLINT}, 
      #{memo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zzrenfeng.base.entity.DictionaryInfo" >
    insert into sys_dictionary_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dictionaryId != null" >
        dictionaryId,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="typeName != null" >
        typeName,
      </if>
      <if test="key != null" >
        key,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="value != null" >
        value,
      </if>
      <if test="orderIndex != null" >
        orderIndex,
      </if>
      <if test="memo != null" >
        memo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dictionaryId != null" >
        #{dictionaryId,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null" >
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="key != null" >
        #{key,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="orderIndex != null" >
        #{orderIndex,jdbcType=SMALLINT},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zzrenfeng.base.entity.DictionaryInfo" >
    update sys_dictionary_info
    <set >
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null" >
        typeName = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="key != null" >
        key = #{key,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        value = #{value,jdbcType=VARCHAR},
      </if>
      <if test="orderIndex != null" >
        orderIndex = #{orderIndex,jdbcType=SMALLINT},
      </if>
      <if test="memo != null" >
        memo = #{memo,jdbcType=VARCHAR},
      </if>
    </set>
    where dictionaryId = #{dictionaryId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zzrenfeng.base.entity.DictionaryInfo" >
    update sys_dictionary_info
    set type = #{type,jdbcType=VARCHAR},
      typeName = #{typeName,jdbcType=VARCHAR},
      key = #{key,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      value = #{value,jdbcType=VARCHAR},
      orderIndex = #{orderIndex,jdbcType=SMALLINT},
      memo = #{memo,jdbcType=VARCHAR}
    where dictionaryId = #{dictionaryId,jdbcType=VARCHAR}
  </update>
  
  <!-- 根据条件参数加载所有字典信息 -->
  <select id="loadAllDictionaryInfo" parameterType="java.util.Map" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from sys_dictionary_info
    where 1=1
    <if test="type != null and type != ''" >
		and type = #{type,jdbcType=VARCHAR}
    </if>
	<if test="typeName != null and typeName != ''" >
	  	and typeName = #{typeName,jdbcType=VARCHAR}
	</if>
	<if test="key != null and key != ''" >
	  	and key = #{key,jdbcType=VARCHAR}
	</if>
	<if test="name != null and name != ''" >
	  	and name = #{name,jdbcType=VARCHAR}
	</if>
	<if test="value != null and value != ''" >
	  	and value = #{value,jdbcType=VARCHAR}
	</if>
  </select> 
  
  <!-- 获取数据字典中所有type数据 -->
  <select id="getAllDictionaryType" resultType="java.lang.String">
  	select distinct(`type`) from sys_dictionary_info
  </select>
  
  
  
</mapper>