<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzrenfeng.base.dao.SysExceptionLoginfoMapper" >
  <resultMap id="BaseResultMap" type="com.zzrenfeng.base.entity.SysExceptionLoginfo" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="className" property="className" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="CHAR" />
    <result column="exceptionType" property="exceptionType" jdbcType="VARCHAR" />
    <result column="methodName" property="methodName" jdbcType="VARCHAR" />
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="target" property="target" jdbcType="VARCHAR" />
    <result column="operatorId" property="operatorId" jdbcType="VARCHAR" />
    <result column="operatorName" property="operatorName" jdbcType="VARCHAR" />
    <result column="remark1" property="remark1" jdbcType="VARCHAR" />
    <result column="remark2" property="remark2" jdbcType="VARCHAR" />
    <result column="remark3" property="remark3" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.zzrenfeng.base.entity.SysExceptionLoginfo" extends="BaseResultMap" >
    <result column="exceptionDetail" property="exceptionDetail" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, className, createTime, memo, type, exceptionType, methodName, source, target, 
    operatorId, operatorName, remark1, remark2, remark3
  </sql>
  <sql id="Blob_Column_List" >
    exceptionDetail
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sys_exception_loginfo
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_exception_loginfo
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zzrenfeng.base.entity.SysExceptionLoginfo" >
    insert into sys_exception_loginfo (id, className, createTime, 
      memo, type, exceptionType, 
      methodName, source, target, 
      operatorId, operatorName, remark1, 
      remark2, remark3, exceptionDetail
      )
    values (#{id,jdbcType=VARCHAR}, #{className,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{memo,jdbcType=VARCHAR}, #{type,jdbcType=CHAR}, #{exceptionType,jdbcType=VARCHAR}, 
      #{methodName,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR}, #{target,jdbcType=VARCHAR}, 
      #{operatorId,jdbcType=VARCHAR}, #{operatorName,jdbcType=VARCHAR}, #{remark1,jdbcType=VARCHAR}, 
      #{remark2,jdbcType=VARCHAR}, #{remark3,jdbcType=VARCHAR}, #{exceptionDetail,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zzrenfeng.base.entity.SysExceptionLoginfo" >
    insert into sys_exception_loginfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="className != null" >
        className,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="memo != null" >
        memo,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="exceptionType != null" >
        exceptionType,
      </if>
      <if test="methodName != null" >
        methodName,
      </if>
      <if test="source != null" >
        source,
      </if>
      <if test="target != null" >
        target,
      </if>
      <if test="operatorId != null" >
        operatorId,
      </if>
      <if test="operatorName != null" >
        operatorName,
      </if>
      <if test="remark1 != null" >
        remark1,
      </if>
      <if test="remark2 != null" >
        remark2,
      </if>
      <if test="remark3 != null" >
        remark3,
      </if>
      <if test="exceptionDetail != null" >
        exceptionDetail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="className != null" >
        #{className,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=CHAR},
      </if>
      <if test="exceptionType != null" >
        #{exceptionType,jdbcType=VARCHAR},
      </if>
      <if test="methodName != null" >
        #{methodName,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="target != null" >
        #{target,jdbcType=VARCHAR},
      </if>
      <if test="operatorId != null" >
        #{operatorId,jdbcType=VARCHAR},
      </if>
      <if test="operatorName != null" >
        #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="remark1 != null" >
        #{remark1,jdbcType=VARCHAR},
      </if>
      <if test="remark2 != null" >
        #{remark2,jdbcType=VARCHAR},
      </if>
      <if test="remark3 != null" >
        #{remark3,jdbcType=VARCHAR},
      </if>
      <if test="exceptionDetail != null" >
        #{exceptionDetail,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zzrenfeng.base.entity.SysExceptionLoginfo" >
    update sys_exception_loginfo
    <set >
      <if test="className != null" >
        className = #{className,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="memo != null" >
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=CHAR},
      </if>
      <if test="exceptionType != null" >
        exceptionType = #{exceptionType,jdbcType=VARCHAR},
      </if>
      <if test="methodName != null" >
        methodName = #{methodName,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="target != null" >
        target = #{target,jdbcType=VARCHAR},
      </if>
      <if test="operatorId != null" >
        operatorId = #{operatorId,jdbcType=VARCHAR},
      </if>
      <if test="operatorName != null" >
        operatorName = #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="remark1 != null" >
        remark1 = #{remark1,jdbcType=VARCHAR},
      </if>
      <if test="remark2 != null" >
        remark2 = #{remark2,jdbcType=VARCHAR},
      </if>
      <if test="remark3 != null" >
        remark3 = #{remark3,jdbcType=VARCHAR},
      </if>
      <if test="exceptionDetail != null" >
        exceptionDetail = #{exceptionDetail,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zzrenfeng.base.entity.SysExceptionLoginfo" >
    update sys_exception_loginfo
    set className = #{className,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      memo = #{memo,jdbcType=VARCHAR},
      type = #{type,jdbcType=CHAR},
      exceptionType = #{exceptionType,jdbcType=VARCHAR},
      methodName = #{methodName,jdbcType=VARCHAR},
      source = #{source,jdbcType=VARCHAR},
      target = #{target,jdbcType=VARCHAR},
      operatorId = #{operatorId,jdbcType=VARCHAR},
      operatorName = #{operatorName,jdbcType=VARCHAR},
      remark1 = #{remark1,jdbcType=VARCHAR},
      remark2 = #{remark2,jdbcType=VARCHAR},
      remark3 = #{remark3,jdbcType=VARCHAR},
      exceptionDetail = #{exceptionDetail,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zzrenfeng.base.entity.SysExceptionLoginfo" >
    update sys_exception_loginfo
    set className = #{className,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      memo = #{memo,jdbcType=VARCHAR},
      type = #{type,jdbcType=CHAR},
      exceptionType = #{exceptionType,jdbcType=VARCHAR},
      methodName = #{methodName,jdbcType=VARCHAR},
      source = #{source,jdbcType=VARCHAR},
      target = #{target,jdbcType=VARCHAR},
      operatorId = #{operatorId,jdbcType=VARCHAR},
      operatorName = #{operatorName,jdbcType=VARCHAR},
      remark1 = #{remark1,jdbcType=VARCHAR},
      remark2 = #{remark2,jdbcType=VARCHAR},
      remark3 = #{remark3,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>