<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzrenfeng.base.dao.SysSettingMapper">
  <resultMap id="BaseResultMap" type="com.zzrenfeng.base.entity.SysSetting">
    <id column="settingId" jdbcType="VARCHAR" property="settingId" />
    <result column="itemKey" jdbcType="VARCHAR" property="itemKey" />
    <result column="itemValue" jdbcType="VARCHAR" property="itemValue" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="creater" jdbcType="VARCHAR" property="creater" />
    <result column="modifyer" jdbcType="VARCHAR" property="modifyer" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="lastmod" jdbcType="TIMESTAMP" property="lastmod" />
  </resultMap>
  <sql id="Base_Column_List">
    settingId, itemKey, itemValue, memo, creater, modifyer, created, lastmod
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_setting
    where settingId = #{settingId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sys_setting
    where settingId = #{settingId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zzrenfeng.base.entity.SysSetting">
    insert into sys_setting (settingId, itemKey, itemValue, 
      memo, creater, modifyer, 
      created, lastmod)
    values (#{settingId,jdbcType=VARCHAR}, #{itemKey,jdbcType=VARCHAR}, #{itemValue,jdbcType=VARCHAR}, 
      #{memo,jdbcType=VARCHAR}, #{creater,jdbcType=VARCHAR}, #{modifyer,jdbcType=VARCHAR}, 
      #{created,jdbcType=TIMESTAMP}, #{lastmod,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zzrenfeng.base.entity.SysSetting">
    insert into sys_setting
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="settingId != null">
        settingId,
      </if>
      <if test="itemKey != null">
        itemKey,
      </if>
      <if test="itemValue != null">
        itemValue,
      </if>
      <if test="memo != null">
        memo,
      </if>
      <if test="creater != null">
        creater,
      </if>
      <if test="modifyer != null">
        modifyer,
      </if>
      <if test="created != null">
        created,
      </if>
      <if test="lastmod != null">
        lastmod,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="settingId != null">
        #{settingId,jdbcType=VARCHAR},
      </if>
      <if test="itemKey != null">
        #{itemKey,jdbcType=VARCHAR},
      </if>
      <if test="itemValue != null">
        #{itemValue,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="modifyer != null">
        #{modifyer,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="lastmod != null">
        #{lastmod,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zzrenfeng.base.entity.SysSetting">
    update sys_setting
    <set>
      <if test="itemKey != null">
        itemKey = #{itemKey,jdbcType=VARCHAR},
      </if>
      <if test="itemValue != null">
        itemValue = #{itemValue,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="creater != null">
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="modifyer != null">
        modifyer = #{modifyer,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="lastmod != null">
        lastmod = #{lastmod,jdbcType=TIMESTAMP},
      </if>
    </set>
    where settingId = #{settingId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zzrenfeng.base.entity.SysSetting">
    update sys_setting
    set itemKey = #{itemKey,jdbcType=VARCHAR},
      itemValue = #{itemValue,jdbcType=VARCHAR},
      memo = #{memo,jdbcType=VARCHAR},
      creater = #{creater,jdbcType=VARCHAR},
      modifyer = #{modifyer,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP},
      lastmod = #{lastmod,jdbcType=TIMESTAMP}
    where settingId = #{settingId,jdbcType=VARCHAR}
  </update>
  
  <!-- 根据设置项ID获取系统环境变量对象 -->
   <select id="selectSysSettingByItemKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_setting
    where itemKey = #{itemKey,jdbcType=VARCHAR}
    order by created desc
  </select>
  

</mapper>