<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzrenfeng.base.dao.UserRoleMapper">
    <resultMap id="BaseResultMap" type="com.zzrenfeng.base.entity.UserRole">
        <id column="UR_ID" property="urId" jdbcType="VARCHAR"/>
        <result column="ROLE_ID" property="roleId" jdbcType="VARCHAR"/>
        <result column="USER_ID" property="userId" jdbcType="VARCHAR"/>
        <result column="STATUS" property="status" jdbcType="CHAR"/>
        <result column="CREATED" property="created" jdbcType="TIMESTAMP"/>
        <result column="LASTMOD" property="lastmod" jdbcType="TIMESTAMP"/>
        <result column="CREATER" property="creater" jdbcType="VARCHAR"/>
        <result column="MODIFYER" property="modifyer" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        UR_ID, ROLE_ID, USER_ID, STATUS, CREATED, LASTMOD, CREATER, MODIFYER
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from sys_user_role
        where UR_ID = #{urId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from sys_user_role
        where UR_ID = #{urId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.zzrenfeng.base.entity.UserRole">
        insert into sys_user_role (UR_ID, ROLE_ID, USER_ID,
        STATUS, CREATED, LASTMOD,
        CREATER, MODIFYER)
        values (#{urId,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR},
        #{status,jdbcType=CHAR}, #{created,jdbcType=TIMESTAMP}, #{lastmod,jdbcType=TIMESTAMP},
        #{creater,jdbcType=VARCHAR}, #{modifyer,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.zzrenfeng.base.entity.UserRole">
        insert into sys_user_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="urId != null">
                UR_ID,
            </if>
            <if test="roleId != null">
                ROLE_ID,
            </if>
            <if test="userId != null">
                USER_ID,
            </if>
            <if test="status != null">
                STATUS,
            </if>
            <if test="created != null">
                CREATED,
            </if>
            <if test="lastmod != null">
                LASTMOD,
            </if>
            <if test="creater != null">
                CREATER,
            </if>
            <if test="modifyer != null">
                MODIFYER,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="urId != null">
                #{urId,jdbcType=VARCHAR},
            </if>
            <if test="roleId != null">
                #{roleId,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=CHAR},
            </if>
            <if test="created != null">
                #{created,jdbcType=TIMESTAMP},
            </if>
            <if test="lastmod != null">
                #{lastmod,jdbcType=TIMESTAMP},
            </if>
            <if test="creater != null">
                #{creater,jdbcType=VARCHAR},
            </if>
            <if test="modifyer != null">
                #{modifyer,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.zzrenfeng.base.entity.UserRole">
        update sys_user_role
        <set>
            <if test="roleId != null">
                ROLE_ID = #{roleId,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                USER_ID = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                STATUS = #{status,jdbcType=CHAR},
            </if>
            <if test="created != null">
                CREATED = #{created,jdbcType=TIMESTAMP},
            </if>
            <if test="lastmod != null">
                LASTMOD = #{lastmod,jdbcType=TIMESTAMP},
            </if>
            <if test="creater != null">
                CREATER = #{creater,jdbcType=VARCHAR},
            </if>
            <if test="modifyer != null">
                MODIFYER = #{modifyer,jdbcType=VARCHAR},
            </if>
        </set>
        where UR_ID = #{urId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.zzrenfeng.base.entity.UserRole">
        update sys_user_role
        set ROLE_ID = #{roleId,jdbcType=VARCHAR},
        USER_ID = #{userId,jdbcType=VARCHAR},
        STATUS = #{status,jdbcType=CHAR},
        CREATED = #{created,jdbcType=TIMESTAMP},
        LASTMOD = #{lastmod,jdbcType=TIMESTAMP},
        CREATER = #{creater,jdbcType=VARCHAR},
        MODIFYER = #{modifyer,jdbcType=VARCHAR}
        where UR_ID = #{urId,jdbcType=VARCHAR}
    </update>

    <select id="findAllByUserId" parameterType="String" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_user_role
        WHERE STATUS = 'E' AND USER_ID = #{userId,jdbcType=VARCHAR}
    </select>

    <select id="findAllByRoleId" parameterType="String" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_user_role
        WHERE STATUS = 'E' AND ROLE_ID = #{roleId,jdbcType=VARCHAR}
    </select>
    
    <!-- 分页获取用户-角色对应信息 -->
    <select id="getUserRoleInfo" parameterType="java.util.Map" resultType="java.util.HashMap">
		select
			a.USER_ID as userId,
			a.USER_NAME as userName,
			a.ACCOUNT as account,
			a.PASSWORD as password,
			a.USER_EMAIL as userEmail,
			a.USER_PHONE as userPhone,
			a.FIRST_LOGIN as firstLogin,
			a.PREV_LOGIN as prevLogin,
			a.PREV_IP as prevIp,
			a.LAST_LOGIN as lastLogin,
			a.LOGIN_COUNT as loginCount,
			a.STATUS as status,
			a.USER_DESC as userDesc,
			a.IS_ONLINE as isOnline,
			a.SORT as sort,
			a.CREATED as created,
			a.LASTMOD as lastmod,
			a.CREATER as creater,
			a.MODIFYER as modifyer, 
			b.userType as userType,
			c.ROLE_ID as roleId,
			d.ROLE_NAME as roleName,
			d.ROLE_DESC as roleDesc,
			d.SORT as roleSort
		from sys_user a 
			left join zznu_eva_teach_stu_info b on a.user_id=b.id
			left join sys_user_role c on a.USER_ID=c.USER_ID
			left join sys_role d on c.ROLE_ID=d.ROLE_ID
		where a.STATUS='E' and d.STATUS='E'
			<if test="account != null and account != ''">
				and (a.ACCOUNT like concat(concat('%', #{account,jdbcType=VARCHAR}), '%')
				or a.USER_NAME like concat(concat('%', #{userName,jdbcType=VARCHAR}), '%'))
			</if>
			<if test="roleId != null and roleId != ''">
				and c.ROLE_ID=#{roleId,jdbcType=VARCHAR}
			</if>
		order by d.SORT asc
		limit #{begin},#{end}		    	
    </select>
    
    <!-- 获取用户-角色对于关系的数量，用于分页显示 -->
    <select id="getUserRoleCount" parameterType="java.util.Map" resultType="java.lang.Long">
    	select
			count(*) as count
		from sys_user a 
			left join zznu_eva_teach_stu_info b on a.user_id=b.id
			left join sys_user_role c on a.USER_ID=c.USER_ID
			left join sys_role d on c.ROLE_ID=d.ROLE_ID
		where a.STATUS='E' and d.STATUS='E'
			<if test="account != null and account != ''">
				and (a.ACCOUNT like concat(concat('%', #{account,jdbcType=VARCHAR}), '%')
				or a.USER_NAME like concat(concat('%', #{userName,jdbcType=VARCHAR}), '%'))
			</if>
			<if test="roleId != null and roleId != ''">
				and c.ROLE_ID=#{roleId,jdbcType=VARCHAR}
			</if>
    </select>

</mapper>