<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzrenfeng.zznueg.dao.TestImportTeachStuInfoMapper" >
  <resultMap id="BaseResultMap" type="com.zzrenfeng.zznueg.entity.TestImportTeachStuInfo" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="tsno" property="tsno" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="CHAR" />
    <result column="deptId" property="deptId" jdbcType="VARCHAR" />
    <result column="classId" property="classId" jdbcType="VARCHAR" />
    <result column="userType" property="userType" jdbcType="CHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="creater" property="creater" jdbcType="VARCHAR" />
    <result column="modifyer" property="modifyer" jdbcType="VARCHAR" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="lastmod" property="lastmod" jdbcType="TIMESTAMP" />
    <result column="isOpenAct" property="isOpenAct" jdbcType="CHAR" />
    <result column="remark1" property="remark1" jdbcType="VARCHAR" />
    <result column="remark2" property="remark2" jdbcType="VARCHAR" />
    <result column="remark3" property="remark3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, tsno, name, sex, deptId, classId, userType, status, creater, modifyer, created, 
    lastmod, isOpenAct, remark1, remark2, remark3
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from zznu_eva_test_import_teach_stu_info
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from zznu_eva_test_import_teach_stu_info
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zzrenfeng.zznueg.entity.TestImportTeachStuInfo" >
    insert into zznu_eva_test_import_teach_stu_info (id, tsno, name, 
      sex, deptId, classId, 
      userType, status, creater, 
      modifyer, created, lastmod, 
      isOpenAct, remark1, remark2, 
      remark3)
    values (#{id,jdbcType=VARCHAR}, #{tsno,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{sex,jdbcType=CHAR}, #{deptId,jdbcType=VARCHAR}, #{classId,jdbcType=VARCHAR}, 
      #{userType,jdbcType=CHAR}, #{status,jdbcType=CHAR}, #{creater,jdbcType=VARCHAR}, 
      #{modifyer,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP}, #{lastmod,jdbcType=TIMESTAMP}, 
      #{isOpenAct,jdbcType=CHAR}, #{remark1,jdbcType=VARCHAR}, #{remark2,jdbcType=VARCHAR}, 
      #{remark3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zzrenfeng.zznueg.entity.TestImportTeachStuInfo" >
    insert into zznu_eva_test_import_teach_stu_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="tsno != null" >
        tsno,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="deptId != null" >
        deptId,
      </if>
      <if test="classId != null" >
        classId,
      </if>
      <if test="userType != null" >
        userType,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="modifyer != null" >
        modifyer,
      </if>
      <if test="created != null" >
        created,
      </if>
      <if test="lastmod != null" >
        lastmod,
      </if>
      <if test="isOpenAct != null" >
        isOpenAct,
      </if>
      <if test="remark1 != null" >
        remark1,
      </if>
      <if test="remark2 != null" >
        remark2,
      </if>
      <if test="remark3 != null" >
        remark3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="tsno != null" >
        #{tsno,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=CHAR},
      </if>
      <if test="deptId != null" >
        #{deptId,jdbcType=VARCHAR},
      </if>
      <if test="classId != null" >
        #{classId,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="modifyer != null" >
        #{modifyer,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="lastmod != null" >
        #{lastmod,jdbcType=TIMESTAMP},
      </if>
      <if test="isOpenAct != null" >
        #{isOpenAct,jdbcType=CHAR},
      </if>
      <if test="remark1 != null" >
        #{remark1,jdbcType=VARCHAR},
      </if>
      <if test="remark2 != null" >
        #{remark2,jdbcType=VARCHAR},
      </if>
      <if test="remark3 != null" >
        #{remark3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zzrenfeng.zznueg.entity.TestImportTeachStuInfo" >
    update zznu_eva_test_import_teach_stu_info
    <set >
      <if test="tsno != null" >
        tsno = #{tsno,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=CHAR},
      </if>
      <if test="deptId != null" >
        deptId = #{deptId,jdbcType=VARCHAR},
      </if>
      <if test="classId != null" >
        classId = #{classId,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        userType = #{userType,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="modifyer != null" >
        modifyer = #{modifyer,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="lastmod != null" >
        lastmod = #{lastmod,jdbcType=TIMESTAMP},
      </if>
      <if test="isOpenAct != null" >
        isOpenAct = #{isOpenAct,jdbcType=CHAR},
      </if>
      <if test="remark1 != null" >
        remark1 = #{remark1,jdbcType=VARCHAR},
      </if>
      <if test="remark2 != null" >
        remark2 = #{remark2,jdbcType=VARCHAR},
      </if>
      <if test="remark3 != null" >
        remark3 = #{remark3,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zzrenfeng.zznueg.entity.TestImportTeachStuInfo" >
    update zznu_eva_test_import_teach_stu_info
    set tsno = #{tsno,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=CHAR},
      deptId = #{deptId,jdbcType=VARCHAR},
      classId = #{classId,jdbcType=VARCHAR},
      userType = #{userType,jdbcType=CHAR},
      status = #{status,jdbcType=CHAR},
      creater = #{creater,jdbcType=VARCHAR},
      modifyer = #{modifyer,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP},
      lastmod = #{lastmod,jdbcType=TIMESTAMP},
      isOpenAct = #{isOpenAct,jdbcType=CHAR},
      remark1 = #{remark1,jdbcType=VARCHAR},
      remark2 = #{remark2,jdbcType=VARCHAR},
      remark3 = #{remark3,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>